{% extends 'base.html.twig' %}

{% block title %} Presentation du Festival Tonkpi Niidaley {% endblock %}

{% block body %}
    <div class="rs-breadcrumbs">
        <img src="{{ absolute_url(asset('ressources/img/bg2.jpg')) }}" alt="" />
    </div>

    <div id="rs-blog" class="single-blog-details sec-spacer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12 text-justify">
                    <div class="single-image">
                        <img src="{{ absolute_url(asset('ressources/img/page/1.jpg')) }}" alt="presentation">
                    </div>
                    <h4 class="top-title">Qu'est-ce qui justifie la création de Tonkpi Nihidaley?</h4>
                    <p>Prévue du 1er au 10 décembre 2018 à Man dans l’Ouest de la Côte d’Ivoire, la deuxième édition du TONKPI NIHIDALEY, appellation du Festival des Arts et de la culture Dan, se situe dans un double contexte de sauvegarde de la culture Dan et du Développement de la Région du Tonkpi.</p>
                    <p>
                        En effet, dans un monde et à une période où tout est soumis à un perpétuel mouvement de changement à grande échelle, dans un contexte de mondialisation où tout se mélange, le patrimoine culturel apparait comme, à la fois, l’expression de l’identité et de la différence des peuples. Au moment où les progrès des sciences, des techniques et des technologies ont tendance à entrainer les peuples dans un brassage de tous ordres, ce qui permet à chaque peuple d’aller à la rencontre des autres tout en demeurant soi-même, c’est sa culture. Dans cette perspective, la diversité culturelle pourra alors s’avérer comme source
                        de richesses et non pas d’enfermement sur soi.

                    </p>
                    <p>
                        De fait, accumulées au cours des siècles, de génération en génération comme l’ensemble des traits distinctifs et spécifiques des peuples, les cultures sont, à l’heure des grandes mutations, exposées à des disparitions pour certaines, ou à de profondes transformations-falsifications pour d’autres. Pour toutes, une valorisation en tant que promotion et préservation s’impose par conséquent comme une véritable exigence de survie et de développement.
                    </p>
                    <p>
                        Le peuple Dan, composé des Yapeuba ou Yacouba et des Toura, détenteur d’un riche patrimoine à la fois naturel (forêts, plus d’un milliard de tonnes de fer au Mont Nimba, plus de 205 millions de tonnes de Nickel latéritique à Sipilou et le gisement d’or d’ITY)  et culturel, fait de la Région du Tonkpi, l’un des principaux centres touristiques et économiques de la Côte d’Ivoire. L’ensemble de ce patrimoine demeure une réalité vivante avec les sites naturels pittoresques comme les montagnes, les cascades, les ponts de lianes ainsi que les masques, les danses, les cases sacrées (le mystère), la tradition et l’habillement.
                    </p>
                    <p>
                        Le Festival Tonkpi Nihidaley au-delà d’être l’expression de la joie, de la gaieté, de l’épanouissement, voire de la source même du bonheur en langue Dan, se propose de se donner les moyens d’en faire un atout majeur pour le développement de la Région, en s’appuyant sur l’histoire de ce peuple et ses valeurs culturelles.
                    </p>
                    <p>
                        <strong>
                            <i>
                                L’organisation de TONKPI NIHIDALEY s’inscrit donc dans un contexte de sauvegarde du patrimoine et de développement de la Région du Tonkpi.
                            </i>
                        </strong>
                    </p>

                </div>
                <div class="col-lg-4 col-md-12 mmt-40">
                    {{ render(url('frontend_bloc')) }}
                </div>
            </div><!-- .row -->
        </div><!-- .container -->
    </div>

{% endblock %}

{% block meta %}

{% endblock %}

