{% extends "security_layout.html.twig" %}

{% block body %}
<div class="login-box-body">
    <p class="login-box-msg">Connexions</p>
    {{ include('@FOSUser/Security/login_content.html.twig') }}
</div>
{% endblock body %}
